<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0">

	<!-- wp:pattern {"slug":"lefkadagardens/hero"} /-->

	<!-- wp:pattern {"slug":"lefkadagardens/service-right-planting"} /-->

	<!-- wp:pattern {"slug":"lefkadagardens/service-left-irrigation-services"} /-->

	<!-- wp:pattern {"slug":"lefkadagardens/service-right-pruning"} /-->

	<!-- wp:pattern {"slug":"lefkadagardens/service-left-hedge-trimming"} /-->
	 
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->