<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group lg-home-page">
	<!-- wp:group -->
	<div class="wp-block-group lg-home-page-banner">
	
		<!-- wp:group -->
		<div class="wp-block-group lg-home-page-hero">

			<!-- wp:post-featured-image /-->
			<!-- wp:group -->
			<div class="wp-block-group lg-home-page-hero-logo">
				<!-- wp:site-logo  {"isLink":false} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"className":"lg-home-page-menu","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
		<div class="wp-block-group lg-home-page-menu">
			<!-- wp:navigation {"ref":5,"overlayMenu":"always","icon":"menu","layout":{"type":"flex","justifyContent":"left","orientation":"vertical"},"style":{"spacing":{"margin":{"top":"0"},"blockGap":"var:preset|spacing|20"},"layout":{"selfStretch":"fit","flexSize":null}}} /-->
		</div>
		<!-- /wp:group -->
		
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group lg-home-page-services">
		<!-- wp:group {"style":{"spacing":{"padding":{"top":"0vh","bottom":"6vh"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group lg-home-page-services-left" style="padding-top:0vh;padding-bottom:6vh">
			
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group lg-home-page-services-right">
			
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group lg-home-page-services">
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group lg-home-page-services">
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group lg-home-page-services">
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group lg-home-page-services">
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group lg-home-page-services">
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group lg-home-page-contact">
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
